*{
    padding: 0;
    margin: 0;
  
}

<<<<<<< HEAD
body{
    background-color:$a;
#contenedor {
        display: grid;
        grid-template-areas:
            
            "header  header  "
            "nav  contenido "
            "nav  productos  "
             "nav servicios "
            " footer  footer  "; 
            grid-template-columns: 15%  auto;
            grid-template-rows: 50px 2fr 1fr auto;
            grid: 10px;
            width:71.9% ;
            height:100vh ;
.border{
    border: 2px solid $borde;

header{
    grid-area: header;
    text-align: center;
    background-color: $color;
}       


nav{
    grid-area: nav;
    background-color:$a;
    text-align: center;
    li{
        display:inline;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        a{
    
            font-size: large ;
            font-style:inherit;
            
          
            
            
        }
         
      
    }


}

#productos{
    grid-area: productos;
    .productosFlex{
        display: flex;
        text-align: justify;
        color:$violeta;
        font-family:cursive;
        flex-wrap: wrap;
        flex-direction: row;
       
    }
}
#servicios{
    grid-area: servicios;
   .menuFlex{
    display: flex;
    text-align: justify;
    color: $violeta;
    font-family:cursive;
    flex-wrap: wrap;
    flex-direction: row;
}
}


#contenido{
    grid-area: contenido;
    .conFlex{
        display: flex;
        text-align: justify;
        color:$violeta;
        font-family:cursive;
        flex-wrap: wrap;
        flex-direction: row;
       
        
    }
   
}  
#footer{
    grid-area: footer;
    font-size: small;
    text-align: center;
    background-color:$lila;
    height: 30px;
    
}    
    
}

}
    
}
=======

body{
    background-color: lightpink;
nav{
    background-color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }



}


    
h3{
    text-align: start;
    
}

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.822);
    font-weight:800;
    text-decoration: underline;
}
h2{
    font-size: x-small;
    font-weight: 800;
    text-align:center;
 }
>>>>>>> 6e3c3144a6eb4721334173a4da504cc3d53907a5
