<<<<<<< HEAD
@import "agregados";















=======
@import "generales";
>>>>>>> 6e3c3144a6eb4721334173a4da504cc3d53907a5





<<<<<<< HEAD
    

=======
.menuFlex{
   display: flexbox;
    justify-content: end;
    align-items: end;
    margin-top: 80px;
    border: 0.1cm;
    border-style:ridge ;
    border-color: rgb(255, 255, 255);
    

}



.flexon{
    border: 0.1cm;
    border-style:outset;
    border-color: rgb(255, 255, 255);
    box-sizing: border-box ;
    display: flex;
    background-color:rgba(255, 255, 255, 0.705);
    margin-top: 100px;
    justify-content: center;
    color: rgba(2, 102, 184, 0.767);
    font-size: xx-small;
}
>>>>>>> 6e3c3144a6eb4721334173a4da504cc3d53907a5




<<<<<<< HEAD
    


    

=======

.flex{
    border: 0.1cm;
    border-style:outset;
    border-color: rgb(255, 255, 255);
    box-sizing: border-box ;
    display: flex;
    background-color:rgba(255, 255, 255, 0.705);
    margin-top: 100px;
    justify-content: center;
    color: rgba(2, 102, 184, 0.767);
    font-size: xx-small;
    
    
}


.blockquote{
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.blockquote-footer{
    font-style: italic;
    font-size: x-small;
}

.word{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    font-style: unset;
}






.conFlex{
    display: flex;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    flex-direction: row;
    align-items: end;
    
    
}

.flexy{
    display: flex;
    text-align: justify;
    color: black;
    flex-direction: column;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    align-content: space-between 10px;
}
.card-header{
    background-color: rgb(78, 180, 248);
    font-size: large;
    text-align: center;
}

 



 .espacio{
     margin-bottom: 50px;
 }



.si{
    margin-left: 40px;
    display: flexbox;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.card-text{
    text-align: justify;
}


.estado{
    display: flex;
    background-color: rgb(129, 129, 129);
    margin-top: 70px;
    height: 150px;
    margin-left: 100px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
width: 80%;
}

#cuadrado{
    width: 200px;
    height: 150px;
    background-color: palevioletred;
    animation-name: mianimacion;
    animation-duration: 6s;
    animation-delay: 1s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: 500;
    text-align: center;
    align-items:center ;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
    margin-top: 70px;
    
}  
    
@keyframes mianimacion{
    0%{background-color:palevioletred; left: 0px;top:0px;}
    20%{background-color: brown; left: 200px;}
    40%{background-color: aquamarine;left:400px; top:0px}
    60%{background-color: violet;left:600px; top:0px}
    80%{background-color: rgb(255, 145, 0);left:800px; top:0px}
    100%{background-color: rgb(89, 152, 247);left:1000px; top:0px}
    
   
}


.decora{
    color: rgb(205, 125, 236);
  text-shadow:  0 1px rgb(221, 212, 212), 1px 0 black, 0 -1px black;
  font-family: 'Times New Roman', Times, serif;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.textual{
    margin-left: 40px;
   text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300; 
    font-style: italic;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 4%;
    border-color: azure;
   animation-name: texto;
   animation-iteration-count: 2s;
   animation-timing-function: step-end;
   animation-duration: 2s;
   animation-delay: 0s;
   
}

@keyframes texto{

0%{ width: 100px; }
25%{ width: 300px; }
50%{ width: 200px;
background-color: indianred; }
75%{ width: 300px;}
100%{ width: 100px;
background-color:green;}
}

.valor{
    margin-top: 25px;
}
>>>>>>> 6e3c3144a6eb4721334173a4da504cc3d53907a5
