/*mobile-smart*/

*{
    padding: 0;
    margin: 0;
  
}


a{
    font-style:inherit;
   
}

li{
    display:inline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 
.border{
    border: 2px solid rgb(204, 0, 85);}
    
#padre{
height: 100vh;
width: 100%;
}

#media{
    grid-area: media;
    
}



#data{
    grid-area: data;
    
    
}

#footer{
    grid-area: footer;
    font-size: small;
    text-align: center;
    background-color: rgb(152, 112, 190);
    height: 60px;
}
header{
    grid-area: header;
    text-align: center;
    background-color: rgb(152, 112, 190);
}
nav{
    grid-area: nav;
    background-color:azure;
    text-align: center;
}

nav{
    grid-area: nav;
    
}




.menuFlex{
    display: flex;
    text-align: justify;
    color: rgb(170, 20, 170);
    font-family:cursive;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;     
}

.conFlex{
display: flex;
text-align: justify;
color: rgb(170, 20, 170);
font-family:cursive;
flex-wrap: wrap;
flex-direction: column;
       
        
}



#padre{
    display: grid;
  grid-template-areas: 
 " header " 
  "nav"
" media "
" data"
"footer ";

grid-template-columns: auto;
grid-template-rows: 10%  auto  auto
10%;}

iframe{
    width: auto;
    height: auto;
}

/*desktop*/
@media (min-width:1329px){

#padre{
    display: grid;
  grid-template-areas: 
  " header header "
  " nav   media "
  " nav  data"
 "footer footer";
grid-template-columns: 20% auto;
grid-template-rows: 5%  auto  auto
11%;

}



.menuFlex{
    display: flex;
    text-align: justify;
    color: rgb(170, 20, 170);
    font-family:cursive;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;     
}

.conFlex{
display: flex;
text-align: justify;
color: rgb(170, 20, 170);
font-family:cursive;
flex-wrap: wrap;
flex-direction: row;
       
        
}
#footer{
    grid-area: footer;
    font-size: small;
    text-align: center;
    background-color: rgb(152, 112, 190);
    height: 30px;
}

iframe{
    width: 1060px; height:600px
}
}
