/*desktop*/
@media (min-width:1482px){
*{
    padding: 0;
    margin: 0;
  
}
.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "area2 area2 area3 area3 area3"
    "area2 area2 area4 area4 area4";
    width: 100%;
    height: 88vh;
  }

  
  .area2 {
    background-color: black ;
    text-align: center;
    border: black 5px solid;
    grid-area: area2;
    height: 80vh;
    margin-top: 50px;
   
  }
  
  .area3 {
    background-color: thistle;
    text-align: center;
    border: black 5px solid;
    grid-area: area3;
    margin-top: 50px;
    height: 88px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-weight: 300;
  }
  .area4 {
    background-color: thistle;
    text-align: center;
    border: black 5px solid;
    grid-area: area4;
    height: 67.9vh;
    margin-top: 50px;
  }

h1{text-align: center;}

li{
    list-style-type:disc;
    list-style-position:inside;}

header{
    font-family: 'Times New Roman', Times, serif;
    background-color: thistle;
    border: black 5px solid;
    margin-top: 40px;
   
}
footer{
    font-family: 'Times New Roman', Times, serif;
    background-color: thistle;
    border: black 5px solid;
    height: 23vh;
}
}