*{
    padding: 0;
    margin: 0;
  
}

body{
    background-color: lightpink;
}

nav{
background-color:white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



h3{
    text-align: start;
    
}

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.822);
    font-weight:800;
    text-decoration: underline;
}



.menuFlex{
   display: flexbox;
    justify-content: end;
    align-items: end;
    margin-top: 80px;
    border: 0.1cm;
    border-style:ridge ;
    border-color: rgb(255, 255, 255);
    

}



.flexon{
    border: 0.1cm;
    border-style:outset;
    border-color: rgb(255, 255, 255);
    box-sizing: border-box ;
    display: flex;
    background-color:rgba(255, 255, 255, 0.705);
    margin-top: 100px;
    justify-content: center;
    color: rgba(2, 102, 184, 0.767);
    font-size: xx-small;
}





.flex{
    border: 0.1cm;
    border-style:outset;
    border-color: rgb(255, 255, 255);
    box-sizing: border-box ;
    display: flex;
    background-color:rgba(255, 255, 255, 0.705);
    margin-top: 100px;
    justify-content: center;
    color: rgba(2, 102, 184, 0.767);
    font-size: xx-small;
    
    
}


.blockquote{
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.blockquote-footer{
    font-style: italic;
    font-size: x-small;
}

.word{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    font-style: unset;
}






.conFlex{
    display: flex;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    flex-direction: row;
    align-items: end;
    
    
}

.flexy{
    display: flex;
    text-align: justify;
    color: black;
    flex-direction: column;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    align-content: space-between 10px;
}
.card-header{
    background-color: rgb(78, 180, 248);
    font-size: large;
    text-align: center;
}

 

h2{
    font-size: x-small;
    font-weight: 800;
    text-align:center;
 }

 .espacio{
     margin-bottom: 50px;
 }


.si{
    margin-left: 40px;
    display: flexbox;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.card-text{
    text-align: justify;
}


.estado{
    display: flex;
    background-color: rgb(129, 129, 129);
    margin-top: 70px;
    height: 150px;
    margin-left: 100px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
text-align: center;
width: 80%;
}
