* {padding: 0;margin: 0;}
         
footer {
    background-color: thistle;
    height: 28px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;
    text-align: center;
    color: rgba(56, 54, 54, 0.541);
    margin-right: 90px;}
        
h5 {margin-top: 250px;
    font-size: xx-large;}
    body{background-color: black;}
 
