
.border {border: 2px solid $color_2;}

#contenedor {
             display: grid;
             grid-template-areas:
        
             "header  header"
             "nav  contenido"
             "nav  productos"
             "nav servicios"
            "footer  footer"; 
             grid-template-columns: 15%  auto;
             grid-template-rows: 50px 2fr 1fr auto;
             grid: 10px;
             width:71.9% ;
             height:100vh;
        
             #productos{grid-area: productos;
                .productosFlex { display: flex;
                                 text-align: justify;
                                 color: $color_1;
                                 font-family: $font-family_2;
                                 flex-wrap: wrap;
                                 flex-direction: row;}}

                          
             #servicios{grid-area: servicios;
                .menuFlex {display: flex;
                          text-align: justify;
                          color: $color_1;
                          font-family: $font-family_2;
                          flex-wrap: wrap;
                          flex-direction: row;}}

             #contenido{grid-area: contenido;
               .conFlex {display: flex;
                         text-align: justify;
                         color: $color_1;
                         font-family: $font-family_2;
                         flex-wrap: wrap;
                         flex-direction: row;}}

            }