$color_1: rgb(170, 20, 170);
$font-family_1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family_2: cursive;
$background-color_1: rgb(152, 112, 190);
$background-color_2: azure;
$color_2:black;