$color_1: aliceblue;
$color_2: rgb(102, 205, 193);
$color_3: transparent;
$font-family_1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family_2: serif;
$background-color_1: aliceblue;
$background-color_2: rgba(212, 233, 246, 0.911);
$background-color_3: rgb(123, 180, 160);
$background-color_4: thistle;
$background-color_5: #e4e487d2;
$background-color_6: azure;
$background-color_7: rgba(203, 203, 203, 0.876);
$background-color_8: rgb(102, 205, 193);
$border-color_1: thistle #8ec1e8 rgb(233, 222, 149) rgb(170, 223, 203);

