@import "variables";
@import "layout";



.border{
    border: 2px solid $negro;
}
header{
    grid-area: header;
    text-align: center;
    background-color: $color;
}

nav{
    grid-area: nav;
    background-color:$blanco;
    text-align: center;
}

#productos{
    grid-area: productos;
}
#servicios{
    grid-area: servicios;
}


#contenido{
    grid-area: contenido;
   
}

#contenedor{
    width:72% ;
    height:100vh ;
}

a{
    
    font-size: large ;
    font-style:inherit;
    
  
    
    
}

li{
    display:inline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
}

 




body{
    background-color:$blanco;
}









    
#contenedor{
display: grid;
grid-template-areas:
    
    "header  header  "
    "nav  contenido "
    "nav  productos  "
     "nav servicios "
    " footer  footer  "; 
    grid-template-columns: 15%  auto;
    grid-template-rows: 50px 2fr 1fr auto;
    grid: 10px;
    
}
.menuFlex{
    display: flex;
    text-align: justify;
    color: $violeta;
    font-family:cursive;
    flex-wrap: wrap;
    flex-direction: row;
    

}
.productosFlex{
    display: flex;
    text-align: justify;
    color: $violeta;
    font-family:cursive;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.conFlex{
    display: flex;
    text-align: justify;
    color:$violeta;
    font-family:cursive;
    flex-wrap: wrap;
    flex-direction: row;
   
    
}
    
#footer{
    grid-area: footer;
    font-size: small;
    text-align: center;
    background-color: $color;
    height: 30px;
    
}    
    

    

